.imagecircle {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.imagesize {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}