$SIDEMENU-TRANSPARENCY: rgba(255,255,255,0.4);

.image-profile-size{
    height: 140px;
    width: auto;
}

.profile-image{
    img{
        border-radius:50%;
        margin:10px;
        border:4px solid $SIDEMENU-TRANSPARENCY;
    }
}